<h1>New Project</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :opis %><br />
    <%= f.text_field :opis %>
  </div>

  <div class="actions">
    <%= f.submit "newProject" %>
  </div>
<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>

